.contact {
    background-color: #AA06010D;
    padding-top: 60px;
    padding-bottom: 80px;
    @include pad(){
      padding-top: 40px;
      padding-bottom: 56px;
    }
    h2 {
      text-align: center;
      font-size: $font-2;
      font-weight: bold;
      color: #000;
      margin-bottom: 24px;
      @include pad(){
        font-size: $font-1*2;
      }
    }
    .container {
      width: 730px;
      @include pad(){
        max-width: 450px;
      }
    }
    .form {
      .form-intro {
        font-size: 20px;
        margin-bottom: 20px;
        @include pad(){
          font-size: $font-1;
          margin-bottom: 16px;
        }
      }
    }
    label {
      margin-bottom: 4px;
      @include pad(){
      font-size: 14px;
      }
    }
    .addbox, .comment {
      width: 100%;
      margin-bottom: 16px;
      border: 1px solid #000;
      padding: 12px 16px;
      background-color: transparent;
      font-size: 16px;
      @include pad(){
        font-size: 14px;
        padding: 8px 12px;
        margin-bottom: 8px;
        vertical-align: middle;
        }
    }
    .flex {
      align-items: center;
      margin-bottom: 40px;
      @include pad(){
        align-items: start;
        margin-bottom: 20px;
      }
      p {
        @include pad(){
          font-size: 14px;
          }
      }
      .check {
        width: 20px;
        height: 20px;
        margin-right: 4px;
        @include pad(){
          width: 15px;
          height: 15px;
        }
      }
    }
    .btn-submit {
      display: block;
      padding: 16px;
      padding-left: 143px;
      padding-right: 143px;
      margin: 0 auto;
      font-size: 16px;
      color:#fff;
      background-color: $color;
      border: 0;
      @include pad(){
        font-size: 14px;
        padding: 10px;
        padding-left: 77px;
        padding-right: 77px; 
        }
    }
    .btn-submit:hover {
      background-color: $color2;
    }
  }