.intro {
    background: #AA06010D;
    padding-top: 60px;
    @include pad(){
      padding-top: 40px;
    }
    @include phone(){
      padding-top: 32px;
    }
    h2 {
      text-align: center;
      font-size: $font-2;
      font-weight: bold;
      color: $color2;
      margin-bottom: 48.08px;
      @include pad(){
        margin-bottom: 32px;
        font-size: $font-1*2;
      }
      @include phone(){
        margin-bottom: 28px;
        font-size: 24px;
        line-height: 2;
      }
    }
    ul {
      justify-content: space-evenly;
      @include pad(){
        flex-wrap: wrap;
        justify-content: space-around;
      }
      li {
        width: 255px;
        text-align: center;
        div {
          height: 84px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 24px;
          img {
            width: 84px;
          }
        }
        span {
          font-size: 24px;
          color: $color2;
          font-weight: bold;
          margin-bottom: 8px;
        }
        p {
          text-align: left;
          margin-bottom: 80px;
          @include pad(){
            margin-bottom: 56px;
          }
          @include phone(){
            margin-bottom: 40px;
          }
        }
      }
    }
  }