.product-box {
    padding-top: 60px;
    margin-bottom: 80px;
    @include pad(){
      padding-top: 40px;
      margin-bottom: 48px;
    }
    @include phone(){
      padding-top: 32px;
      margin-bottom: 40px;
    }
    h2 {
      text-align: center;
      font-size: $font-2;
      font-weight: bold;
      color: $color2;
      margin-bottom: 40px;
      @include pad(){
        margin-bottom: 32px;
        font-size: $font-1*2;
      }
      @include phone(){
        font-size: 20px;
        line-height: 48px;
        margin-bottom: 20px;
      }
    }
    .list {
      align-items: center;
      margin-bottom: 32px;
      text-decoration: none;
      @include pad(){
        margin-bottom: 8px;
      }
      @include phone(){
        position: relative;
      }
      img {
        width: 57%;
        @include pad(){
          width: 56.5%;
        }
        @include phone(){
          width: 100%;
        }
      }
      span {
        font-size: 48px;
        font-weight: bold;
        color: $color;
        font-style: italic;
        @include pad(){
          font-size: 28px;
        }
        @include phone(){
          position: absolute;
          width: 345px;
          text-align: center;
        }
      }
      span::before {
        content: '';
        display: inline-block;
        background: url(https://upload.cc/i1/2021/07/18/x4XuPO.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 44px;
        height: 44px;
        margin-right: 10px;
        margin-left: 32px;
        vertical-align: -5%;
        @include pad(){
          width: 37px;
          height: 37px;
        }
        @include phone(){
          margin-left: 0px;
        }
      }
    }
    .list:hover {
      img {
       opacity: 0.7;     
      }
    }
    .reverse {
      @include pad(){
        flex-direction: row;
      }
    }
    .product2 {
      span {
        margin-right: 30px;
        @include pad(){
          font-size: 28px;
        }
      }
      span::before {
        content: '';
        display: inline-block;
        background: url(../images/icon-sun.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 44px;
        height: 44px;
        margin-right: 10px;
        margin-left: 32px;
        @include pad(){
          width: 37px;
          height: 37px;
        }
        @include phone(){
          margin-left: 0px;
        }
      }
    }
    .product3 {
      span {
        @include pad(){
          font-size: 28px;
        }
      }
      span::before {
        content: '';
        display: inline-block;
        background: url(../images/icon-thunder.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
        width: 44px;
        height: 44px;
        margin-right: 10px;
        margin-left: 32px;
        @include pad(){
          width: 37px;
          height: 37px;
        }
        @include phone(){
          margin-left: 0px;
        }
      }
    }
  }