.product-box2 {
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 705px;
    padding-top: 60px;
    @include pad(){
      height: 452px;
      padding-top: 40px;
    }
    h2 {
      text-align: center;
      font-size: $font-2;
      font-weight: bold;
      color: #fff;
      margin-bottom: 40px;
      @include pad(){
        margin-bottom: 32px;
        font-size: $font-1*2;
      }
    }
    ul {
      justify-content: space-between;
      .p-box1 {
        background-image: url(../images/product-8.png);
        a {
          display: block;
          background-color: rgba(255, 255, 255, 0.5);
          background-repeat: no-repeat;
          background-size: cover;
          opacity: 1;
          width: 540px;
          height: 455px;
          padding-top: 180px;
          text-decoration: none;
          p {
            text-align: center;
            font-weight: bold;
            font-size: 72px;
            display: block;
            color: $color;
          }
        }
        a:hover {
          background-color: rgba(255, 255, 255, 0);
        }
      }
      .p-box2 {
        background-image: url(../images/product-9.png);
        a {
          display: block;
          background-color: rgba(255, 255, 255, 0.5);
          background-repeat: no-repeat;
          background-size: cover;
          opacity: 1;
          width: 540px;
          height: 455px;
          padding-top: 180px;
          text-decoration: none;
          p {
            text-align: center;
            font-weight: bold;
            font-size: 72px;
            display: block;
            color: $color;
          }
        }
        a:hover {
          background-color: rgba(255, 255, 255, 0);
        }
      }
    }
  }

  .product-box2 ul .p-box2, .product-box2 ul .p-box1 {
    @include pad(){
      width: 330px;
      height: 278px;
      background-size: cover;
    }
  }
  .product-box2 ul .p-box2 a, .product-box2 ul .p-box1 a {
    @include pad(){
      width: 330px;
      height: 278px;
      padding-top: 117.5px;
    }
  }

  .product-box2 ul .p-box2 a p, .product-box2 ul .p-box1 a p {
    @include pad(){
      font-size: 32px;
    }
  }