.header {
  height: auto;
  background-color: $color;
  .top-bar {
    justify-content: space-between;
    align-items: center;
    // max-width: 1744px;
    padding: 0 68px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    @include pad(){
      max-width: 690px;
      padding-left: 0;
      padding-right: 0;
    }
    @include padtophone(){
      max-width: 100%;
      flex-direction: column;
      padding: 0;
    }
    @include phone(){
      max-width: 375px;
      padding: 0;
      flex-direction: column;
    }
    h1 {
      @include padtophone(){
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      @include phone(){
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .logo a {
      display: block;
      width: 80px;
      height: 48.57px;
      background: url(../images/logo.png);
      text-indent: 101%;
      white-space: nowrap;
      overflow: hidden;
      @include phone(){
        width: 48px;
        height: 29px;
        background-size: cover;
      }
    }
    .menu {
      justify-content: space-between;
      flex-wrap: wrap;
      @include padtophone(){
        width: 100%;
      }
      li {
        margin-left: 64px;
        @include padtophone(){
          display: block;
          width: 50%;
          margin: 0 auto;
          text-align: center;
          border: 1px solid #fff;
        }
        @include phone(){
          width: 50%;
          margin: 0 auto;
          text-align: center;
          padding: 8px 48px;
          border: 1px solid #fff;
        }
      }
      li a {
        text-decoration: none;
        font-size: 20px;
        line-height: 1.5;
        color: #fff;
        @include phone(){
          line-height: 29px;
        }
      }
      li a:hover {
        opacity: 0.7;
      }
    }
  }
}


.footer {
  padding-top: 32px;
  padding-bottom: 39px;
  background-color: $color;
  @include desktop(){
    padding-left: 15px;
    padding-right: 15px;
  }
  @include pad(){
    padding-top: 32px;
    padding-bottom: 21px;
  }
  @include padtophone(){
    padding: 0px 15px;
    padding-top: 24px;
    padding-bottom: 16px;
  }
  @include phone(){
    padding: 0px 15px;
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .container {
    @include padtophone(){
      position: relative;
    }
    @include phone(){
      position: relative;
    }
  }
  a, p {
    text-decoration: none;
    color: #fff;
  }
  .head-footer, .end-footer {
    justify-content: space-between;
    align-items: center;
  }
  .head-footer {
    margin-bottom: 24px;
    justify-content: space-between;
    @include pad(){
      margin-bottom: 18px;
    }
    @include padtophone(){
      position: absolute;
      right: 0px;
    }
    @include phone(){
      position: absolute;
      right: 0px;
    }
    .foot-menu {
      @include padtophone(){
        display: none;
      }
      @include phone(){
        display: none;
      }
      li {
        margin-right: 48px;
        @include pad(){
        }
      }
      a:hover {
        border-bottom: 1px solid #fff;
      }
    }
    .foot-icon {
      li {
        margin-left: 32px;
        @include pad(){
          width: 24px;
          height: 24px;
          margin-left: 24px;
        }
      }
      li:hover {
        opacity: 0.7;
      }
    }
  }
  .mid-footer {
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    margin-bottom: 32px;
    @include pad(){
      margin-bottom: 24px;
    }
    @include padtophone(){
      padding-bottom: 24px;
      margin-bottom: 16px;
    }
    @include phone(){
      padding-bottom: 24px;
      margin-bottom: 16px;
    }
    .flex {
      align-items: center;
    }
    a {
      margin-bottom: 16px;
      width: 400px;
      @include pad(){
        margin-bottom: 12px;
      }
      @include padtophone(){
        margin-bottom: 6px;
        width: 100%;
      }
      @include phone(){
        margin-bottom: 6px;
        width: 100%;
      }
      img {
        width: 40px;
        margin-right: 20px;
        @include pad(){
          width: 20px;
          margin-right: 10px;
        }
        @include padtophone(){
          width: 15px;
        }
        @include phone(){
          width: 15px;
        }
      }
      p {
        font-size: 36px;
        @include pad(){
          font-size: 20px;
        }
        @include padtophone(){
          font-size: $font-1;
          line-height: 21px;
        }
        @include phone(){
          font-size: $font-1;
          line-height: 21px;
        }
      }
    }
    a:hover {
      opacity: 0.7;
    }
  }
  .end-footer {
    @include padtophone(){
      flex-direction: column;
      align-items: flex-start;
    }
    @include phone(){
      flex-direction: column;
      align-items: flex-start;
    }
    p {
      @include phone(){
        margin-bottom: 8px;
      }
      @include padtophone(){
        margin-bottom: 8px;
      }
    }
    .service {
      @include padtophone(){
        flex-direction: column;
      }
      @include phone(){
        flex-direction: column;
      }
      a {
        font-size: 14px;
        margin-left: 48px;
        @include pad(){
          margin-left: 24px;
        }
        @include padtophone(){
          margin: 0;
          margin-bottom: 8px;
        }
        @include phone(){
          margin: 0;
          margin-bottom: 8px;
        }
      }
      a:hover {
        opacity: 0.7 ;
      }
    }
  }
}  