html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5; }

.container {
  max-width: 1110px;
  margin: 0 auto; }
  @media (max-width: 1280px) {
    .container {
      max-width: 1100px; } }
  @media (max-width: 1025px) {
    .container {
      max-width: 690px; } }
  @media (max-width: 375px) {
    .container {
      max-width: 345px; } }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.header {
  height: auto;
  background-color: #AA0601; }
  .header .top-bar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 68px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px; }
    @media (max-width: 1025px) {
      .header .top-bar {
        max-width: 690px;
        padding-left: 0;
        padding-right: 0; } }
    @media (max-width: 767px) {
      .header .top-bar {
        max-width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0; } }
    @media (max-width: 375px) {
      .header .top-bar {
        max-width: 375px;
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (max-width: 767px) {
      .header .top-bar h1 {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px; } }
    @media (max-width: 375px) {
      .header .top-bar h1 {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px; } }
    .header .top-bar .logo a {
      display: block;
      width: 80px;
      height: 48.57px;
      background: url(../images/logo.png);
      text-indent: 101%;
      white-space: nowrap;
      overflow: hidden; }
      @media (max-width: 375px) {
        .header .top-bar .logo a {
          width: 48px;
          height: 29px;
          background-size: cover; } }
    .header .top-bar .menu {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      @media (max-width: 767px) {
        .header .top-bar .menu {
          width: 100%; } }
      .header .top-bar .menu li {
        margin-left: 64px; }
        @media (max-width: 767px) {
          .header .top-bar .menu li {
            display: block;
            width: 50%;
            margin: 0 auto;
            text-align: center;
            border: 1px solid #fff; } }
        @media (max-width: 375px) {
          .header .top-bar .menu li {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            padding: 8px 48px;
            border: 1px solid #fff; } }
      .header .top-bar .menu li a {
        text-decoration: none;
        font-size: 20px;
        line-height: 1.5;
        color: #fff; }
        @media (max-width: 375px) {
          .header .top-bar .menu li a {
            line-height: 29px; } }
      .header .top-bar .menu li a:hover {
        opacity: 0.7; }

.footer {
  padding-top: 32px;
  padding-bottom: 39px;
  background-color: #AA0601; }
  @media (max-width: 1280px) {
    .footer {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 1025px) {
    .footer {
      padding-top: 32px;
      padding-bottom: 21px; } }
  @media (max-width: 767px) {
    .footer {
      padding: 0px 15px;
      padding-top: 24px;
      padding-bottom: 16px; } }
  @media (max-width: 375px) {
    .footer {
      padding: 0px 15px;
      padding-top: 24px;
      padding-bottom: 16px; } }
  @media (max-width: 767px) {
    .footer .container {
      position: relative; } }
  @media (max-width: 375px) {
    .footer .container {
      position: relative; } }
  .footer a, .footer p {
    text-decoration: none;
    color: #fff; }
  .footer .head-footer, .footer .end-footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer .head-footer {
    margin-bottom: 24px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1025px) {
      .footer .head-footer {
        margin-bottom: 18px; } }
    @media (max-width: 767px) {
      .footer .head-footer {
        position: absolute;
        right: 0px; } }
    @media (max-width: 375px) {
      .footer .head-footer {
        position: absolute;
        right: 0px; } }
    @media (max-width: 767px) {
      .footer .head-footer .foot-menu {
        display: none; } }
    @media (max-width: 375px) {
      .footer .head-footer .foot-menu {
        display: none; } }
    .footer .head-footer .foot-menu li {
      margin-right: 48px; }
    .footer .head-footer .foot-menu a:hover {
      border-bottom: 1px solid #fff; }
    .footer .head-footer .foot-icon li {
      margin-left: 32px; }
      @media (max-width: 1025px) {
        .footer .head-footer .foot-icon li {
          width: 24px;
          height: 24px;
          margin-left: 24px; } }
    .footer .head-footer .foot-icon li:hover {
      opacity: 0.7; }
  .footer .mid-footer {
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    margin-bottom: 32px; }
    @media (max-width: 1025px) {
      .footer .mid-footer {
        margin-bottom: 24px; } }
    @media (max-width: 767px) {
      .footer .mid-footer {
        padding-bottom: 24px;
        margin-bottom: 16px; } }
    @media (max-width: 375px) {
      .footer .mid-footer {
        padding-bottom: 24px;
        margin-bottom: 16px; } }
    .footer .mid-footer .flex {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .footer .mid-footer a {
      margin-bottom: 16px;
      width: 400px; }
      @media (max-width: 1025px) {
        .footer .mid-footer a {
          margin-bottom: 12px; } }
      @media (max-width: 767px) {
        .footer .mid-footer a {
          margin-bottom: 6px;
          width: 100%; } }
      @media (max-width: 375px) {
        .footer .mid-footer a {
          margin-bottom: 6px;
          width: 100%; } }
      .footer .mid-footer a img {
        width: 40px;
        margin-right: 20px; }
        @media (max-width: 1025px) {
          .footer .mid-footer a img {
            width: 20px;
            margin-right: 10px; } }
        @media (max-width: 767px) {
          .footer .mid-footer a img {
            width: 15px; } }
        @media (max-width: 375px) {
          .footer .mid-footer a img {
            width: 15px; } }
      .footer .mid-footer a p {
        font-size: 36px; }
        @media (max-width: 1025px) {
          .footer .mid-footer a p {
            font-size: 20px; } }
        @media (max-width: 767px) {
          .footer .mid-footer a p {
            font-size: 16px;
            line-height: 21px; } }
        @media (max-width: 375px) {
          .footer .mid-footer a p {
            font-size: 16px;
            line-height: 21px; } }
    .footer .mid-footer a:hover {
      opacity: 0.7; }
  @media (max-width: 767px) {
    .footer .end-footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  @media (max-width: 375px) {
    .footer .end-footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  @media (max-width: 375px) {
    .footer .end-footer p {
      margin-bottom: 8px; } }
  @media (max-width: 767px) {
    .footer .end-footer p {
      margin-bottom: 8px; } }
  @media (max-width: 767px) {
    .footer .end-footer .service {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 375px) {
    .footer .end-footer .service {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .footer .end-footer .service a {
    font-size: 14px;
    margin-left: 48px; }
    @media (max-width: 1025px) {
      .footer .end-footer .service a {
        margin-left: 24px; } }
    @media (max-width: 767px) {
      .footer .end-footer .service a {
        margin: 0;
        margin-bottom: 8px; } }
    @media (max-width: 375px) {
      .footer .end-footer .service a {
        margin: 0;
        margin-bottom: 8px; } }
  .footer .end-footer .service a:hover {
    opacity: 0.7; }

.banner {
  background: url(../images/banner.png);
  height: 840px; }
  @media (max-width: 1025px) {
    .banner {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; } }
  @media (max-width: 375px) {
    .banner {
      height: 394px;
      background-size: cover; } }
  .banner .banner-text {
    text-align: right;
    color: #650300;
    padding-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
    .banner .banner-text h2 {
      font-size: 36px; }
      @media (max-width: 1025px) {
        .banner .banner-text h2 {
          font-size: 20px;
          font-weight: bold; } }
      @media (max-width: 375px) {
        .banner .banner-text h2 {
          font-size: 16px; } }
    .banner .banner-text span {
      font-size: 64px;
      font-weight: bold; }
      @media (max-width: 1025px) {
        .banner .banner-text span {
          font-size: 48px; } }
      @media (max-width: 375px) {
        .banner .banner-text span {
          font-size: 32px; } }

.intro {
  background: #AA06010D;
  padding-top: 60px; }
  @media (max-width: 1025px) {
    .intro {
      padding-top: 40px; } }
  @media (max-width: 375px) {
    .intro {
      padding-top: 32px; } }
  .intro h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #650300;
    margin-bottom: 48.08px; }
    @media (max-width: 1025px) {
      .intro h2 {
        margin-bottom: 32px;
        font-size: 32px; } }
    @media (max-width: 375px) {
      .intro h2 {
        margin-bottom: 28px;
        font-size: 24px;
        line-height: 2; } }
  .intro ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
    @media (max-width: 1025px) {
      .intro ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
    .intro ul li {
      width: 255px;
      text-align: center; }
      .intro ul li div {
        height: 84px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 24px; }
        .intro ul li div img {
          width: 84px; }
      .intro ul li span {
        font-size: 24px;
        color: #650300;
        font-weight: bold;
        margin-bottom: 8px; }
      .intro ul li p {
        text-align: left;
        margin-bottom: 80px; }
        @media (max-width: 1025px) {
          .intro ul li p {
            margin-bottom: 56px; } }
        @media (max-width: 375px) {
          .intro ul li p {
            margin-bottom: 40px; } }

.product-box {
  padding-top: 60px;
  margin-bottom: 80px; }
  @media (max-width: 1025px) {
    .product-box {
      padding-top: 40px;
      margin-bottom: 48px; } }
  @media (max-width: 375px) {
    .product-box {
      padding-top: 32px;
      margin-bottom: 40px; } }
  .product-box h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #650300;
    margin-bottom: 40px; }
    @media (max-width: 1025px) {
      .product-box h2 {
        margin-bottom: 32px;
        font-size: 32px; } }
    @media (max-width: 375px) {
      .product-box h2 {
        font-size: 20px;
        line-height: 48px;
        margin-bottom: 20px; } }
  .product-box .list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px;
    text-decoration: none; }
    @media (max-width: 1025px) {
      .product-box .list {
        margin-bottom: 8px; } }
    @media (max-width: 767px) {
      .product-box .list {
        position: relative; } }
    @media (max-width: 375px) {
      .product-box .list {
        position: relative; } }
    .product-box .list img {
      width: 57%; }
      @media (max-width: 1025px) {
        .product-box .list img {
          width: 56.5%; } }
      @media (max-width: 767px) {
        .product-box .list img {
          width: 100%; } }
      @media (max-width: 375px) {
        .product-box .list img {
          width: 100%; } }
    .product-box .list span {
      font-size: 48px;
      font-weight: bold;
      color: #AA0601;
      font-style: italic; }
      @media (max-width: 1025px) {
        .product-box .list span {
          font-size: 28px; } }
      @media (max-width: 767px) {
        .product-box .list span {
          position: absolute;
          width: 100%;
          text-align: center; } }
      @media (max-width: 375px) {
        .product-box .list span {
          position: absolute;
          width: 345px;
          text-align: center; } }
    .product-box .list span::before {
      content: '';
      display: inline-block;
      background: url(https://upload.cc/i1/2021/07/18/x4XuPO.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 44px;
      height: 44px;
      margin-right: 10px;
      margin-left: 32px;
      vertical-align: -5%; }
      @media (max-width: 1025px) {
        .product-box .list span::before {
          width: 37px;
          height: 37px; } }
      @media (max-width: 375px) {
        .product-box .list span::before {
          margin-left: 0px; } }
  .product-box .list:hover img {
    opacity: 0.7; }
  @media (max-width: 1025px) {
    .product-box .reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .product-box .product2 span {
    margin-right: 30px; }
    @media (max-width: 1025px) {
      .product-box .product2 span {
        font-size: 28px; } }
  .product-box .product2 span::before {
    content: '';
    display: inline-block;
    background: url(../images/icon-sun.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    margin-left: 32px; }
    @media (max-width: 1025px) {
      .product-box .product2 span::before {
        width: 37px;
        height: 37px; } }
    @media (max-width: 767px) {
      .product-box .product2 span::before {
        margin-left: 0px; } }
    @media (max-width: 375px) {
      .product-box .product2 span::before {
        margin-left: 0px; } }
  @media (max-width: 1025px) {
    .product-box .product3 span {
      font-size: 28px; } }
  .product-box .product3 span::before {
    content: '';
    display: inline-block;
    background: url(../images/icon-thunder.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    margin-left: 32px; }
    @media (max-width: 1025px) {
      .product-box .product3 span::before {
        width: 37px;
        height: 37px; } }
    @media (max-width: 375px) {
      .product-box .product3 span::before {
        margin-left: 0px; } }

.product-box2 {
  background: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 78px; }
  @media (max-width: 1025px) {
    .product-box2 {
      height: 452px;
      padding-top: 40px; } }
  @media (max-width: 767px) {
    .product-box2 {
      height: auto;
      padding-top: 32px;
      padding-bottom: 40px; } }
  @media (max-width: 375px) {
    .product-box2 {
      height: 719px;
      padding-top: 32px;
      padding-bottom: 40px; } }
  .product-box2 h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px; }
    @media (max-width: 1025px) {
      .product-box2 h2 {
        margin-bottom: 32px;
        font-size: 32px; } }
    @media (max-width: 375px) {
      .product-box2 h2 {
        font-size: 20px;
        line-height: 48px;
        margin-bottom: 20px; } }
  .product-box2 ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 375px) {
      .product-box2 ul {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    @media (max-width: 767px) {
      .product-box2 ul {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .product-box2 ul .p-box1 {
      background-image: url(../images/product-8.png);
      width: 100%;
      margin-right: 30px; }
      @media (max-width: 375px) {
        .product-box2 ul .p-box1 {
          margin-right: 0px;
          margin-bottom: 16px; } }
      @media (max-width: 767px) {
        .product-box2 ul .p-box1 {
          margin-right: 0px;
          margin-bottom: 16px; } }
      .product-box2 ul .p-box1 a {
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
        height: 455px;
        padding-top: 180px;
        text-decoration: none; }
        .product-box2 ul .p-box1 a p {
          text-align: center;
          font-weight: bold;
          font-size: 72px;
          display: block;
          color: #AA0601; }
      .product-box2 ul .p-box1 a:hover {
        background-color: rgba(255, 255, 255, 0); }
    .product-box2 ul .p-box2 {
      background-image: url(../images/product-9.png);
      background-position: center;
      width: 100%; }
      .product-box2 ul .p-box2 a {
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
        height: 455px;
        padding-top: 180px;
        text-decoration: none; }
        .product-box2 ul .p-box2 a p {
          text-align: center;
          font-weight: bold;
          font-size: 72px;
          display: block;
          color: #AA0601; }
      .product-box2 ul .p-box2 a:hover {
        background-color: rgba(255, 255, 255, 0); }

@media (max-width: 1025px) {
  .product-box2 ul .p-box2, .product-box2 ul .p-box1 {
    width: 330px;
    height: 278px;
    background-size: cover; } }

@media (max-width: 1025px) {
  .product-box2 ul .p-box2 a, .product-box2 ul .p-box1 a {
    width: 330px;
    height: 278px;
    padding-top: 117.5px; } }

@media (max-width: 1025px) {
  .product-box2 ul .p-box2 a p, .product-box2 ul .p-box1 a p {
    font-size: 32px; } }

.recommend {
  padding-top: 60px;
  margin-bottom: 80px; }
  @media (max-width: 1025px) {
    .recommend {
      padding-top: 40px;
      margin-bottom: 24px; } }
  .recommend h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #650300;
    margin-bottom: 40px; }
    @media (max-width: 1025px) {
      .recommend h2 {
        margin-bottom: 32px;
        font-size: 32px; } }
    @media (max-width: 375px) {
      .recommend h2 {
        font-size: 20px;
        line-height: 48px;
        margin-bottom: 20px; } }
  .recommend ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1025px) {
      .recommend ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    @media (max-width: 767px) {
      .recommend ul {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (max-width: 375px) {
      .recommend ul {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .recommend ul li {
      width: 255px;
      -webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1); }
      @media (max-width: 1025px) {
        .recommend ul li {
          width: 330px;
          margin-bottom: 32px; } }
      @media (max-width: 767px) {
        .recommend ul li {
          width: 100%;
          margin-bottom: 16px; } }
      @media (max-width: 375px) {
        .recommend ul li {
          width: 100%;
          margin-bottom: 16px; } }
      .recommend ul li .rec-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .recommend ul li .rec-img img {
          vertical-align: middle; }
          @media (max-width: 1025px) {
            .recommend ul li .rec-img img {
              width: 100%;
              height: 256px; } }
          @media (max-width: 767px) {
            .recommend ul li .rec-img img {
              height: auto; } }
      .recommend ul li h3 {
        font-size: 14px;
        margin-bottom: 8px; }
      .recommend ul li .rec-text {
        padding: 16px; }
        @media (max-width: 1025px) {
          .recommend ul li .rec-text {
            padding-left: 24px;
            padding-right: 24px; } }
        .recommend ul li .rec-text p {
          margin-bottom: 76px;
          height: 72px; }
          @media (max-width: 1025px) {
            .recommend ul li .rec-text p {
              height: 48px; } }
        @media (max-width: 1025px) {
          .recommend ul li .rec-text span {
            font-size: 14px; } }

.contact {
  background-color: #AA06010D;
  padding-top: 60px;
  padding-bottom: 80px; }
  @media (max-width: 1025px) {
    .contact {
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (max-width: 375px) {
    .contact {
      padding-bottom: 40px; } }
  .contact h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #000;
    margin-bottom: 24px; }
    @media (max-width: 1025px) {
      .contact h2 {
        font-size: 32px; } }
    @media (max-width: 767px) {
      .contact h2 {
        font-size: 20px;
        line-height: 48px;
        margin-bottom: 20px; } }
    @media (max-width: 375px) {
      .contact h2 {
        font-size: 20px;
        line-height: 48px;
        margin-bottom: 20px; } }
  .contact .container {
    width: 730px; }
    @media (max-width: 1025px) {
      .contact .container {
        max-width: 450px; } }
    @media (max-width: 767px) {
      .contact .container {
        max-width: 100%;
        padding: 0 15px; } }
    @media (max-width: 375px) {
      .contact .container {
        max-width: 345px;
        padding: 0; } }
  .contact .form .form-intro {
    font-size: 20px;
    margin-bottom: 20px; }
    @media (max-width: 1025px) {
      .contact .form .form-intro {
        font-size: 16px;
        margin-bottom: 16px; } }
    @media (max-width: 375px) {
      .contact .form .form-intro {
        margin-bottom: 8px; } }
  .contact label {
    margin-bottom: 4px; }
    @media (max-width: 1025px) {
      .contact label {
        font-size: 14px; } }
  .contact .addbox, .contact .comment {
    width: 100%;
    margin-bottom: 16px;
    border: 1px solid #000;
    padding: 12px 16px;
    background-color: transparent;
    font-size: 16px; }
    @media (max-width: 1025px) {
      .contact .addbox, .contact .comment {
        font-size: 14px;
        padding: 8px 12px;
        margin-bottom: 8px;
        vertical-align: middle; } }
  .contact .flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px; }
    @media (max-width: 1025px) {
      .contact .flex {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        margin-bottom: 20px; } }
    @media (max-width: 1025px) {
      .contact .flex p {
        font-size: 14px; } }
    .contact .flex .check {
      width: 20px;
      height: 20px;
      margin-right: 4px; }
      @media (max-width: 1025px) {
        .contact .flex .check {
          width: 15px;
          height: 15px; } }
      @media (max-width: 375px) {
        .contact .flex .check {
          width: 17px;
          height: 17px; } }
  .contact .btn-submit {
    display: block;
    padding: 16px;
    padding-left: 143px;
    padding-right: 143px;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    background-color: #AA0601;
    border: 0; }
    @media (max-width: 1025px) {
      .contact .btn-submit {
        font-size: 14px;
        padding: 10px;
        padding-left: 77px;
        padding-right: 77px; } }
    @media (max-width: 375px) {
      .contact .btn-submit {
        padding: 8px;
        padding-left: 54.5px;
        padding-right: 54.5px; } }
  .contact .btn-submit:hover {
    background-color: #650300; }

.optical {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .optical li {
    display: block;
    width: 33.333%;
    border-right: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC; }
    .optical li a {
      font-size: 32px;
      text-decoration: none;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #000;
      padding: 26px; }
      @media (max-width: 1025px) {
        .optical li a {
          font-size: 24px;
          padding: 14px; } }
      @media (max-width: 767px) {
        .optical li a {
          font-size: 14px;
          padding: 6.7px; } }
      @media (max-width: 375px) {
        .optical li a {
          font-size: 14px;
          padding: 6.7px; } }
      .optical li a img {
        width: 50px;
        height: 50px;
        margin-right: 10px; }
        @media (max-width: 1025px) {
          .optical li a img {
            width: 29.33px;
            height: 29.33px; } }
        @media (max-width: 767px) {
          .optical li a img {
            width: 14.66px;
            height: 14.66px;
            margin-right: 2.7px; } }
        @media (max-width: 375px) {
          .optical li a img {
            width: 14.66px;
            height: 14.66px;
            margin-right: 2.7px; } }
    .optical li a:hover {
      padding-bottom: 18px;
      border-bottom: 8px solid #AA0601; }

.optic-banr .optical-1 {
  background-image: url(../images/banner-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 304px; }

.optic-banr .optical-2 {
  background-image: url(../images/banner-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 304px; }

@media (max-width: 1025px) {
  .optic-banr .optical-1, .optic-banr .optical-2 {
    background-position: 63%; } }

@media (max-width: 767px) {
  .optic-banr .optical-1, .optic-banr .optical-2 {
    height: 148px; } }

@media (max-width: 375px) {
  .optic-banr .optical-1, .optic-banr .optical-2 {
    height: 148px; } }

.optic-main {
  padding-top: 80px;
  text-align: center; }
  @media (max-width: 1025px) {
    .optic-main {
      padding-top: 56px; } }
  @media (max-width: 767px) {
    .optic-main {
      padding-top: 32px; } }
  @media (max-width: 375px) {
    .optic-main {
      padding-top: 32px; } }
  .optic-main h2 {
    font-size: 42px;
    font-weight: bold; }
    @media (max-width: 1025px) {
      .optic-main h2 {
        font-size: 32px; } }
    @media (max-width: 767px) {
      .optic-main h2 {
        font-size: 20px; } }
    @media (max-width: 375px) {
      .optic-main h2 {
        font-size: 20px; } }
  .optic-main h3 {
    font-size: 32px;
    margin-bottom: 40px; }
    @media (max-width: 1025px) {
      .optic-main h3 {
        font-size: 24px;
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .optic-main h3 {
        font-size: 16px;
        margin-bottom: 20px; } }
    @media (max-width: 375px) {
      .optic-main h3 {
        font-size: 16px;
        margin-bottom: 20px; } }
  .optic-main .product-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .optic-main .product-list li {
      width: 23%;
      margin-bottom: 104px; }
      @media (max-width: 1025px) {
        .optic-main .product-list li {
          width: 330px;
          margin-bottom: 72px; } }
      @media (max-width: 767px) {
        .optic-main .product-list li {
          width: 100%;
          padding: 0 15px;
          margin-bottom: 32px; } }
      @media (max-width: 375px) {
        .optic-main .product-list li {
          width: 100%;
          padding: 0;
          margin-bottom: 32px; } }
      .optic-main .product-list li a img {
        width: 255px;
        height: 164px;
        vertical-align: middle; }
        @media (max-width: 1025px) {
          .optic-main .product-list li a img {
            width: 100%; } }
        @media (max-width: 767px) {
          .optic-main .product-list li a img {
            width: 100%;
            height: auto; } }
      .optic-main .product-list li .list-text {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .optic-main .product-list li .list-text p {
          font-size: 24px; }
          @media (max-width: 767px) {
            .optic-main .product-list li .list-text p {
              font-size: 16px; } }
          @media (max-width: 375px) {
            .optic-main .product-list li .list-text p {
              font-size: 16px; } }
        .optic-main .product-list li .list-text .red {
          color: #AA0601; }
      .optic-main .product-list li .list-color {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
        .optic-main .product-list li .list-color a {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          border-radius: 20%; }
          @media (max-width: 375px) {
            .optic-main .product-list li .list-color a {
              width: 17px;
              height: 17px; } }
        .optic-main .product-list li .list-color a:hover {
          opacity: 0.7; }
        .optic-main .product-list li .list-color .brown {
          background-color: #5F3E2D; }
        .optic-main .product-list li .list-color .orange {
          background-color: #B75929; }
    @media (max-width: 767px) {
      .optic-main .product-list .none {
        display: none; } }
    @media (max-width: 375px) {
      .optic-main .product-list .none {
        display: none; } }

.pages {
  margin-bottom: 160px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center; }
  @media (max-width: 1025px) {
    .pages {
      margin-bottom: 96px; } }
  @media (max-width: 375px) {
    .pages {
      width: 345px;
      margin: 0 auto;
      margin-bottom: 56px; } }
  .pages li {
    border: 1px solid #555555; }
    .pages li a {
      display: block;
      text-align: center;
      font-size: 18px;
      color: #000; }
      @media (max-width: 375px) {
        .pages li a {
          font-size: 16px; } }
    .pages li a:hover {
      color: #fff;
      background-color: #000; }
    .pages li .number {
      padding: 12px 16px; }
      @media (max-width: 375px) {
        .pages li .number {
          padding: 10px 12px; } }
    .pages li .pre {
      font-size: 19px;
      line-height: 27px;
      padding: 12px 12px; }
      @media (max-width: 375px) {
        .pages li .pre {
          font-size: 17px;
          padding: 10px 12px; } }
    .pages li .next {
      font-size: 19px;
      line-height: 27px;
      padding: 12px 12px; }
      @media (max-width: 375px) {
        .pages li .next {
          font-size: 17px;
          padding: 10px 12px; } }

.sunglass {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .sunglass li {
    display: block;
    width: 33.333%;
    border-right: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC; }
    .sunglass li a {
      font-size: 32px;
      text-decoration: none;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #000;
      padding: 26px; }
      @media (max-width: 1025px) {
        .sunglass li a {
          font-size: 24px;
          padding: 14px; } }
      @media (max-width: 767px) {
        .sunglass li a {
          font-size: 14px;
          padding: 6.7px; } }
      @media (max-width: 375px) {
        .sunglass li a {
          font-size: 14px;
          padding: 6.7px; } }
      .sunglass li a img {
        width: 50px;
        height: 50px;
        margin-right: 10px; }
        @media (max-width: 1025px) {
          .sunglass li a img {
            width: 29.33px;
            height: 29.33px; } }
        @media (max-width: 767px) {
          .sunglass li a img {
            width: 14.66px;
            height: 14.66px;
            margin-right: 2.7px; } }
        @media (max-width: 375px) {
          .sunglass li a img {
            width: 14.66px;
            height: 14.66px;
            margin-right: 2.7px; } }
    .sunglass li a:hover {
      padding-bottom: 18px;
      border-bottom: 8px solid #AA0601; }

.sunglass-banr li {
  max-width: 50%; }

.sunglass-banr .sun-banr1 {
  display: block;
  width: 50%;
  height: 304px;
  background-image: url(../images/banner-3.png);
  background-repeat: no-repeat;
  background-size: cover; }

.sunglass-banr .sun-banr2 {
  display: block;
  width: 50%;
  height: 304px;
  background-image: url(../images/product-2-color.png);
  background-repeat: no-repeat;
  background-size: cover; }

@media (max-width: 1025px) {
  .sunglass-banr .sun-banr1, .sunglass-banr .sun-banr2 {
    background-position: 50%; } }

@media (max-width: 767px) {
  .sunglass-banr .sun-banr1, .sunglass-banr .sun-banr2 {
    height: 148px; } }

@media (max-width: 375px) {
  .sunglass-banr .sun-banr1, .sunglass-banr .sun-banr2 {
    height: 148px; } }

.sunglass-main {
  padding-top: 80px;
  padding-bottom: 56px;
  text-align: center; }
  @media (max-width: 1025px) {
    .sunglass-main {
      padding-top: 56px;
      padding-bottom: 24px; } }
  @media (max-width: 767px) {
    .sunglass-main {
      padding-top: 32px; } }
  @media (max-width: 375px) {
    .sunglass-main {
      padding-top: 32px; } }
  .sunglass-main h2 {
    font-size: 42px;
    font-weight: bold; }
    @media (max-width: 1025px) {
      .sunglass-main h2 {
        font-size: 32px; } }
    @media (max-width: 767px) {
      .sunglass-main h2 {
        font-size: 20px; } }
    @media (max-width: 375px) {
      .sunglass-main h2 {
        font-size: 20px; } }
  .sunglass-main h3 {
    font-size: 32px;
    margin-bottom: 40px; }
    @media (max-width: 1025px) {
      .sunglass-main h3 {
        font-size: 24px;
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .sunglass-main h3 {
        font-size: 16px;
        margin-bottom: 20px; } }
    @media (max-width: 375px) {
      .sunglass-main h3 {
        font-size: 16px;
        margin-bottom: 20px; } }
  .sunglass-main .product-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .sunglass-main .product-list li {
      width: 32%;
      margin-bottom: 104px; }
      @media (max-width: 1025px) {
        .sunglass-main .product-list li {
          width: 330px;
          margin-bottom: 72px; } }
      @media (max-width: 767px) {
        .sunglass-main .product-list li {
          width: 100%;
          padding: 0 15px;
          margin-bottom: 32px; } }
      @media (max-width: 375px) {
        .sunglass-main .product-list li {
          width: 100%;
          margin-bottom: 32px; } }
      .sunglass-main .product-list li a img {
        width: 350px;
        height: 224px;
        vertical-align: middle; }
        @media (max-width: 1025px) {
          .sunglass-main .product-list li a img {
            width: 100%; } }
        @media (max-width: 767px) {
          .sunglass-main .product-list li a img {
            width: 100%;
            height: auto; } }
      .sunglass-main .product-list li .list-text {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .sunglass-main .product-list li .list-text p {
          font-size: 24px; }
          @media (max-width: 767px) {
            .sunglass-main .product-list li .list-text p {
              font-size: 16px; } }
          @media (max-width: 375px) {
            .sunglass-main .product-list li .list-text p {
              font-size: 16px; } }
        .sunglass-main .product-list li .list-text .red {
          color: #AA0601; }
      .sunglass-main .product-list li .list-color {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
        .sunglass-main .product-list li .list-color a {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          border-radius: 20%; }
          @media (max-width: 375px) {
            .sunglass-main .product-list li .list-color a {
              width: 17px;
              height: 17px; } }
        .sunglass-main .product-list li .list-color a:hover {
          opacity: 0.7; }
        .sunglass-main .product-list li .list-color .brown {
          background-color: #5F3E2D; }
        .sunglass-main .product-list li .list-color .orange {
          background-color: #B75929; }
    @media (max-width: 767px) {
      .sunglass-main .product-list .none {
        display: none; } }
    @media (max-width: 375px) {
      .sunglass-main .product-list .none {
        display: none; } }

.sunglass-none {
  display: none; }

.pages {
  margin-bottom: 160px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center; }
  @media (max-width: 1025px) {
    .pages {
      margin-bottom: 96px; } }
  @media (max-width: 375px) {
    .pages {
      width: 345px;
      margin: 0 auto;
      margin-bottom: 56px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .pages li {
    border: 1px solid #555555; }
    .pages li a {
      display: block;
      text-align: center;
      font-size: 18px;
      color: #000; }
      @media (max-width: 375px) {
        .pages li a {
          font-size: 16px; } }
    .pages li a:hover {
      color: #fff;
      background-color: #000; }
    .pages li .number {
      padding: 12px 16px; }
      @media (max-width: 375px) {
        .pages li .number {
          padding: 10px 12px; } }
    .pages li .pre, .pages li .next {
      font-size: 19px;
      line-height: 27px;
      padding: 12px 12px; }
      @media (max-width: 375px) {
        .pages li .pre, .pages li .next {
          font-size: 17px;
          padding: 10px 12px; } }

.locate {
  padding-top: 96px;
  margin-bottom: 128px; }
  @media (max-width: 1280px) {
    .locate {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 1025px) {
    .locate {
      padding-top: 60px;
      margin-bottom: 96px; } }
  @media (max-width: 767px) {
    .locate {
      padding-top: 28px;
      margin-bottom: 56px; } }
  @media (max-width: 375px) {
    .locate {
      padding-top: 28px;
      margin-bottom: 56px; } }
  .locate h2 {
    font-size: 48px;
    line-height: 80px;
    font-weight: bold;
    padding-left: 16px;
    border-left: 8px solid #AA0601;
    margin-bottom: 65px; }
    @media (max-width: 1025px) {
      .locate h2 {
        margin-bottom: 40px;
        border-left: 4px solid #AA0601; } }
    @media (max-width: 767px) {
      .locate h2 {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 24px; } }
    @media (max-width: 375px) {
      .locate h2 {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 24px; } }
  .locate .select {
    margin-bottom: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1025px) {
      .locate .select {
        margin-bottom: 24px; } }
    @media (max-width: 767px) {
      .locate .select {
        margin-bottom: 20px; } }
    @media (max-width: 375px) {
      .locate .select {
        margin-bottom: 20px; } }
    .locate .select label {
      font-size: 24px;
      margin-right: 20px; }
      @media (max-width: 1025px) {
        .locate .select label {
          font-size: 16px; } }
      @media (max-width: 767px) {
        .locate .select label {
          font-size: 14px;
          margin-right: 12px; } }
      @media (max-width: 375px) {
        .locate .select label {
          font-size: 14px;
          margin-right: 12px; } }
    .locate .select select {
      width: 324px;
      font-size: 18px;
      padding-top: 8px;
      padding-bottom: 11px;
      padding-left: 19px;
      border: 1px solid #CED4DA;
      border-radius: 5px; }
      @media (max-width: 1025px) {
        .locate .select select {
          font-size: 16px;
          padding-top: 10px;
          padding-bottom: 12px;
          padding-left: 16px; } }
      @media (max-width: 767px) {
        .locate .select select {
          width: 277px;
          font-size: 14px;
          padding-top: 7px;
          padding-bottom: 9px;
          padding-left: 16px; } }
      @media (max-width: 375px) {
        .locate .select select {
          width: 277px;
          font-size: 14px;
          padding-top: 7px;
          padding-bottom: 9px;
          padding-left: 16px; } }
  .locate .locate-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px; }
    @media (max-width: 1024px) {
      .locate .locate-box {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media (max-width: 1025px) {
      .locate .locate-box {
        margin: 0 0px; } }
    .locate .locate-box .locate-text {
      width: 33.333%;
      padding: 0 15px;
      margin-bottom: 32px; }
      @media (max-width: 1025px) {
        .locate .locate-box .locate-text {
          width: 330px;
          margin-bottom: 20px; } }
      @media (max-width: 767px) {
        .locate .locate-box .locate-text {
          width: 100%;
          padding: 0 15px;
          margin-bottom: 16px; } }
      @media (max-width: 375px) {
        .locate .locate-box .locate-text {
          width: 100%;
          padding: 0;
          margin-bottom: 16px; } }
      .locate .locate-box .locate-text img {
        vertical-align: middle; }
        @media (max-width: 1025px) {
          .locate .locate-box .locate-text img {
            width: 350px;
            height: 164px; } }
        @media (max-width: 767px) {
          .locate .locate-box .locate-text img {
            width: 100%;
            height: auto; } }
        @media (max-width: 375px) {
          .locate .locate-box .locate-text img {
            width: 350px;
            height: 164px; } }
      .locate .locate-box .locate-text h3 {
        font-size: 24px;
        padding: 12px 24px;
        border: 1px solid #00000020; }
        @media (max-width: 1025px) {
          .locate .locate-box .locate-text h3 {
            font-size: 16px;
            padding: 8px 24px; } }
      .locate .locate-box .locate-text ul {
        padding-left: 22px;
        padding-top: 16px;
        padding-bottom: 8px;
        border: 1px solid #00000020; }
        @media (max-width: 1025px) {
          .locate .locate-box .locate-text ul {
            padding-left: 25.67px; } }
        .locate .locate-box .locate-text ul li {
          margin-bottom: 8px; }
          @media (max-width: 1025px) {
            .locate .locate-box .locate-text ul li {
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center; } }
          .locate .locate-box .locate-text ul li .flex {
            padding-top: 5px;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start; }
            .locate .locate-box .locate-text ul li .flex img {
              width: 22px;
              height: 22px;
              margin-right: 11px; }
          .locate .locate-box .locate-text ul li span {
            font-size: 20px; }
            @media (max-width: 1025px) {
              .locate .locate-box .locate-text ul li span {
                font-size: 14px; } }
      .locate .locate-box .locate-text a {
        display: block;
        text-align: center;
        background-color: #000;
        color: #fff;
        padding: 20px 0px;
        font-size: 19px;
        line-height: 27px; }
        @media (max-width: 1025px) {
          .locate .locate-box .locate-text a {
            font-size: 14px;
            padding: 16px 0px; } }
      .locate .locate-box .locate-text a:hover {
        opacity: 0.7; }

.locate2 {
  padding-top: 96px;
  margin-bottom: 160px; }
  @media (max-width: 1280px) {
    .locate2 {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 1025px) {
    .locate2 {
      padding-top: 60px;
      margin-bottom: 96px; } }
  @media (max-width: 767px) {
    .locate2 {
      padding-top: 28px;
      margin-bottom: 56px; } }
  @media (max-width: 375px) {
    .locate2 {
      padding-top: 28px;
      margin-bottom: 56px; } }
  .locate2 h2 {
    font-size: 48px;
    line-height: 80px;
    font-weight: bold;
    padding-left: 16px;
    border-left: 8px solid #AA0601;
    margin-bottom: 65px; }
    @media (max-width: 1025px) {
      .locate2 h2 {
        margin-bottom: 40px;
        border-left: 4px solid #AA0601; } }
    @media (max-width: 767px) {
      .locate2 h2 {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 24px; } }
    @media (max-width: 375px) {
      .locate2 h2 {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 24px; } }
  .locate2 .select {
    margin-bottom: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1025px) {
      .locate2 .select {
        margin-bottom: 24px; } }
    @media (max-width: 767px) {
      .locate2 .select {
        margin-bottom: 20px; } }
    @media (max-width: 375px) {
      .locate2 .select {
        margin-bottom: 20px; } }
    .locate2 .select label {
      font-size: 24px;
      margin-right: 20px; }
      @media (max-width: 1025px) {
        .locate2 .select label {
          font-size: 16px; } }
      @media (max-width: 767px) {
        .locate2 .select label {
          font-size: 14px;
          margin-right: 12px; } }
      @media (max-width: 375px) {
        .locate2 .select label {
          font-size: 14px;
          margin-right: 12px; } }
    .locate2 .select select {
      width: 324px;
      font-size: 18px;
      padding-top: 8px;
      padding-bottom: 11px;
      padding-left: 19px;
      border: 1px solid #CED4DA;
      border-radius: 5px; }
      @media (max-width: 1025px) {
        .locate2 .select select {
          font-size: 16px;
          padding-top: 10px;
          padding-bottom: 12px;
          padding-left: 16px; } }
      @media (max-width: 767px) {
        .locate2 .select select {
          width: 277px;
          font-size: 14px;
          padding-top: 7px;
          padding-bottom: 9px;
          padding-left: 16px; } }
      @media (max-width: 375px) {
        .locate2 .select select {
          width: 277px;
          font-size: 14px;
          padding-top: 7px;
          padding-bottom: 9px;
          padding-left: 16px; } }
  .locate2 .locate2-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .locate2 .locate2-box .locate2-text {
      width: 40%; }
      @media (max-width: 1025px) {
        .locate2 .locate2-box .locate2-text {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; } }
      @media (max-width: 767px) {
        .locate2 .locate2-box .locate2-text {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          padding: 0 15px; } }
      @media (max-width: 375px) {
        .locate2 .locate2-box .locate2-text {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          padding: 0; } }
      .locate2 .locate2-box .locate2-text img {
        vertical-align: middle; }
        @media (max-width: 1025px) {
          .locate2 .locate2-box .locate2-text img {
            width: 330px;
            height: 164px; } }
        @media (max-width: 767px) {
          .locate2 .locate2-box .locate2-text img {
            width: 100%;
            height: auto; } }
        @media (max-width: 375px) {
          .locate2 .locate2-box .locate2-text img {
            width: 100%; } }
      @media (max-width: 1025px) {
        .locate2 .locate2-box .locate2-text .box {
          display: block;
          width: 330px; } }
      @media (max-width: 767px) {
        .locate2 .locate2-box .locate2-text .box {
          width: 100%;
          height: auto; } }
      @media (max-width: 375px) {
        .locate2 .locate2-box .locate2-text .box {
          width: 100%; } }
      .locate2 .locate2-box .locate2-text .box img {
        vertical-align: middle; }
      .locate2 .locate2-box .locate2-text .box h3 {
        font-size: 24px;
        padding: 12px 24px;
        border: 1px solid #00000020; }
        @media (max-width: 1025px) {
          .locate2 .locate2-box .locate2-text .box h3 {
            font-size: 16px;
            padding: 8px 16px; } }
        @media (max-width: 767px) {
          .locate2 .locate2-box .locate2-text .box h3 {
            padding: 12px 24px; } }
        @media (max-width: 375px) {
          .locate2 .locate2-box .locate2-text .box h3 {
            padding: 12px 24px; } }
      .locate2 .locate2-box .locate2-text .box ul {
        padding-left: 22px;
        padding-top: 16px;
        padding-bottom: 8px;
        border: 1px solid #00000020; }
        @media (max-width: 1025px) {
          .locate2 .locate2-box .locate2-text .box ul {
            padding-left: 26.5px;
            padding-top: 19.5px; } }
        .locate2 .locate2-box .locate2-text .box ul li {
          margin-bottom: 8px; }
          .locate2 .locate2-box .locate2-text .box ul li .flex {
            padding-top: 5px;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start; }
            @media (max-width: 1025px) {
              .locate2 .locate2-box .locate2-text .box ul li .flex {
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center; } }
            .locate2 .locate2-box .locate2-text .box ul li .flex img {
              width: 22px;
              height: 22px;
              margin-right: 11px; }
              @media (max-width: 1025px) {
                .locate2 .locate2-box .locate2-text .box ul li .flex img {
                  width: 15px;
                  height: 15px;
                  margin-right: 10.5px; } }
          .locate2 .locate2-box .locate2-text .box ul li span {
            font-size: 20px; }
            @media (max-width: 1025px) {
              .locate2 .locate2-box .locate2-text .box ul li span {
                font-size: 14px; } }
    .locate2 .locate2-box .locate-map {
      width: 57%; }
      @media (max-width: 1025px) {
        .locate2 .locate2-box .locate-map {
          padding-top: 32px;
          width: 100%;
          height: 422px; } }
      @media (max-width: 767px) {
        .locate2 .locate2-box .locate-map {
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 16px;
          height: 211px; } }
      @media (max-width: 375px) {
        .locate2 .locate2-box .locate-map {
          padding-left: 0px;
          padding-right: 0px;
          padding-top: 16px;
          height: 211px; } }

/*# sourceMappingURL=all.css.map */
